<?xml version="1.0" ?>
<robot name="omnivelma">
  <joint name="omnivelma__monokl_r_fix" type="fixed">
    <parent link="omnivelma__base"/>
    <child link="omnivelma__monokl_r__base"/>
    <origin rpy="0       0      -3.14159" xyz="0     -0.3     0.2795"/>
    <axis xyz="0  0  0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="omnivelma__monokl_l_fix" type="fixed">
    <parent link="omnivelma__base"/>
    <child link="omnivelma__monokl_l__base"/>
    <origin rpy="0  0  0" xyz="0      0.3     0.2795"/>
    <axis xyz="0  0  0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="omnivelma__wewucho_fix" type="fixed">
    <parent link="omnivelma__base"/>
    <child link="omnivelma__wewucho__base"/>
    <origin rpy="0  0  0" xyz="0      0      0.1035"/>
    <axis xyz="0  0  0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="omnivelma__middle_joint" type="fixed">
    <parent link="omnivelma__base"/>
    <child link="omnivelma__front"/>
    <origin rpy="0  0  0" xyz="0.264   0      0.1035"/>
    <axis xyz="1  0  0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="omnivelma__motor_rr" type="fixed">
    <parent link="omnivelma__base"/>
    <child link="omnivelma__wheel_rr"/>
    <origin rpy="0  0  0" xyz="-0.36   -0.344   0.1035"/>
    <axis xyz="0  1  0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="omnivelma__motor_rl" type="fixed">
    <parent link="omnivelma__base"/>
    <child link="omnivelma__wheel_rl"/>
    <origin rpy="0  0  0" xyz="-0.36    0.344   0.1035"/>
    <axis xyz="0  1  0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="omnivelma__motor_fr" type="fixed">
    <parent link="omnivelma__front"/>
    <child link="omnivelma__wheel_fr"/>
    <origin rpy="0  0  0" xyz="0.096 -0.344  0"/>
    <axis xyz="0  1  0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="omnivelma__motor_fl" type="fixed">
    <parent link="omnivelma__front"/>
    <child link="omnivelma__wheel_fl"/>
    <origin rpy="0  0  0" xyz="0.096  0.344  0"/>
    <axis xyz="0  1  0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="omnivelma__kinect_rotator" type="fixed">
    <parent link="omnivelma__base"/>
    <child link="omnivelma__ownKinect__kinect_base"/>
    <origin rpy="0  0  0" xyz="-0.031   0      1.5485"/>
    <axis xyz="0  0  1"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <link name="omnivelma__base">
    <inertial>
      <mass value="60"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="2.94" ixy="0" ixz="0" iyy="2.72" iyz="0" izz="5.40"/>
    </inertial>
    <collision name="omnivelma__base_collision">
      <origin rpy="0  0  0" xyz="-0.081   0      0.1225"/>
      <geometry>
        <mesh filename="package://omnivelma/meshes/collider/base.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="omnivelma__base_visual">
      <origin rpy="0  0  0" xyz="-0.081   0      0.1225"/>
      <geometry>
        <mesh filename="package://omnivelma/meshes/visual/base.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="omnivelma__front">
    <inertial>
      <mass value="15"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.7351" ixy="0" ixz="0" iyy="0.0771" iyz="0" izz="0.7483"/>
    </inertial>
    <collision name="omnivelma__front_collision">
      <origin rpy="0  0  0" xyz="0.1      0       0.01799"/>
      <geometry>
        <mesh filename="package://omnivelma/meshes/collider/front.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="omnivelma__front_visual">
      <origin rpy="0  0  0" xyz="0.1      0       0.01799"/>
      <geometry>
        <mesh filename="package://omnivelma/meshes/visual/front.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="omnivelma__wheel_rr">
    <inertial>
      <mass value="1.6"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.004738485" ixy="0" ixz="0" iyy="0.008" iyz="0" izz="0.004738485"/>
    </inertial>
    <collision name="omnivelma__wheel_rr_collision">
      <origin rpy="0  0  0" xyz="0      -0.03599  0"/>
      <geometry>
        <sphere radius="0.1016"/>
      </geometry>
    </collision>
    <visual name="omnivelma__wheel_rr_middle">
      <origin rpy="0  0  0" xyz="0      -0.03599  0"/>
      <geometry>
        <mesh filename="package://omnivelma/meshes/visual/wheel.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="omnivelma__wheel_rr_rollers">
      <origin rpy="0  0  0" xyz="0      -0.03599  0"/>
      <geometry>
        <mesh filename="package://omnivelma/meshes/visual/wheel_l.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="omnivelma__wheel_rl">
    <inertial>
      <mass value="1.6"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.004738485" ixy="0" ixz="0" iyy="0.008" iyz="0" izz="0.004738485"/>
    </inertial>
    <collision name="omnivelma__wheel_rl_collision">
      <origin rpy="0  0  0" xyz="0       0.03599  0"/>
      <geometry>
        <sphere radius="0.1016"/>
      </geometry>
    </collision>
    <visual name="omnivelma__wheel_rl_middle">
      <origin rpy="0  0  0" xyz="0       0.03599  0"/>
      <geometry>
        <mesh filename="package://omnivelma/meshes/visual/wheel.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="omnivelma__wheel_rl_rollers">
      <origin rpy="0  0  0" xyz="0       0.03599  0"/>
      <geometry>
        <mesh filename="package://omnivelma/meshes/visual/wheel_r.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="omnivelma__wheel_fr">
    <inertial>
      <mass value="1.6"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.004738485" ixy="0" ixz="0" iyy="0.008" iyz="0" izz="0.004738485"/>
    </inertial>
    <collision name="omnivelma__wheel_fr_collision">
      <origin rpy="0  0  0" xyz="0      -0.03599  0"/>
      <geometry>
        <sphere radius="0.1016"/>
      </geometry>
    </collision>
    <visual name="omnivelma__wheel_fr_middle">
      <origin rpy="0  0  0" xyz="0      -0.03599  0"/>
      <geometry>
        <mesh filename="package://omnivelma/meshes/visual/wheel.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="omnivelma__wheel_fr_rollers">
      <origin rpy="0  0  0" xyz="0      -0.03599  0"/>
      <geometry>
        <mesh filename="package://omnivelma/meshes/visual/wheel_r.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="omnivelma__wheel_fl">
    <inertial>
      <mass value="1.6"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.004738485" ixy="0" ixz="0" iyy="0.008" iyz="0" izz="0.004738485"/>
    </inertial>
    <collision name="omnivelma__wheel_fl_collision">
      <origin rpy="0  0  0" xyz="0       0.03599  0"/>
      <geometry>
        <sphere radius="0.1016"/>
      </geometry>
    </collision>
    <visual name="omnivelma__wheel_fl_middle">
      <origin rpy="0  0  0" xyz="0       0.03599  0"/>
      <geometry>
        <mesh filename="package://omnivelma/meshes/visual/wheel.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <visual name="omnivelma__wheel_fl_rollers">
      <origin rpy="0  0  0" xyz="0       0.03599  0"/>
      <geometry>
        <mesh filename="package://omnivelma/meshes/visual/wheel_l.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <joint name="omnivelma__monokl_r__heart_fix" type="fixed">
    <parent link="omnivelma__monokl_r__base"/>
    <child link="omnivelma__monokl_r__heart"/>
    <origin rpy="0  0  0" xyz="0     0     0.039"/>
    <axis xyz="0  0  0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <link name="omnivelma__monokl_r__base">
    <inertial>
      <mass value="1.1"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.00283314166" ixy="0" ixz="0" iyy="0.00283314166" iyz="0" izz="0.00143055"/>
    </inertial>
    <collision name="omnivelma__monokl_r__base_collision">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.152" radius="0.051"/>
      </geometry>
    </collision>
    <visual name="omnivelma__monokl_r__base_visual">
      <origin rpy="0  0  0" xyz="0     0    -0.027"/>
      <geometry>
        <cylinder length="0.098" radius="0.051"/>
      </geometry>
    </visual>
    <visual name="omnivelma__monokl_r__cap_visual">
      <origin rpy="0  0  0" xyz="0     0     0.066"/>
      <geometry>
        <cylinder length="0.019" radius="0.047"/>
      </geometry>
    </visual>
  </link>
  <link name="omnivelma__monokl_r__heart">
    <inertial>
      <mass value="0.05"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.0000008333" ixy="0" ixz="0" iyy="0.0000008333" iyz="0" izz="0.0000008333"/>
    </inertial>
    <visual name="omnivelma__monokl_r__glass_visual">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.040" radius="0.040"/>
      </geometry>
    </visual>
  </link>
  <joint name="omnivelma__monokl_l__heart_fix" type="fixed">
    <parent link="omnivelma__monokl_l__base"/>
    <child link="omnivelma__monokl_l__heart"/>
    <origin rpy="0  0  0" xyz="0     0     0.039"/>
    <axis xyz="0  0  0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <link name="omnivelma__monokl_l__base">
    <inertial>
      <mass value="1.1"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.00283314166" ixy="0" ixz="0" iyy="0.00283314166" iyz="0" izz="0.00143055"/>
    </inertial>
    <collision name="omnivelma__monokl_l__base_collision">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.152" radius="0.051"/>
      </geometry>
    </collision>
    <visual name="omnivelma__monokl_l__base_visual">
      <origin rpy="0  0  0" xyz="0     0    -0.027"/>
      <geometry>
        <cylinder length="0.098" radius="0.051"/>
      </geometry>
    </visual>
    <visual name="omnivelma__monokl_l__cap_visual">
      <origin rpy="0  0  0" xyz="0     0     0.066"/>
      <geometry>
        <cylinder length="0.019" radius="0.047"/>
      </geometry>
    </visual>
  </link>
  <link name="omnivelma__monokl_l__heart">
    <inertial>
      <mass value="0.05"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0.0000008333" ixy="0" ixz="0" iyy="0.0000008333" iyz="0" izz="0.0000008333"/>
    </inertial>
    <visual name="omnivelma__monokl_l__glass_visual">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <cylinder length="0.040" radius="0.040"/>
      </geometry>
    </visual>
  </link>
  <link name="omnivelma__wewucho__base">
    <inertial>
      <mass value="0"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual name="omnivelma__wewucho__base_visual">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>
  <link name="omnivelma__ownKinect__kinect_base">
    <inertial>
      <mass value="0.1"/>
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="omnivelma__ownKinect__collision">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <box size="0.073000 0.276000 0.072000"/>
      </geometry>
    </collision>
    <visual name="omnivelma__ownKinect__visual">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <mesh filename="package://omnivelma/../ownKinect/meshes/kinect.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
