<launch>
    <!-- Base Velma Transforms and packages -->
    <include file="$(find omnivelma_2d_nav)/launch/omnivelma_base.launch" />

    <include file="$(find omnivelma_2d_nav)/launch/ext_packages/ekf_odom.launch" />
    <!-- Square Path -->
    <node pkg="omnivelma_2d_nav" name="Path" type="path.py" output="screen"/>
    <!-- Path Execution -->
    <node pkg="omnivelma_2d_nav" name="Square_test" type="square_test.py" output="screen"/>

</launch>
