<launch>
  <param name="/use_sim_time" value="true"/>

  <include file="$(find omnivelma_2d_nav)/launch/omnivelma_base.launch" />
  <include file="$(find omnivelma_2d_nav)/launch/ekf_odom.launch" />

  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping">
    <remap from="scan" to="/scan" />
    <param name="base_frame" value="omnivelma" />
    <param name="map_udpate_interval" value="2.0"/>
    <param name="delta" value="0.04" />
  </node>

</launch>
