<launch>

  <node pkg="omnivelma_2d_nav" name="omnivelma_speed_broadcaster" type="omnivelma_speed_broadcaster" output="screen">
    <param name="cmd_receive_topic" value="cmd_vel" />
    <param name="cmd_send_topic" value="omnivelma/vels" />
    <param name="rotation" type="str" value="90" />
  </node>

  <!-- transform broadcasters -->
  <!-- <node pkg="omnivelma_2d_nav" name="camera_tf_broadcaster" type="camera_tf_broadcaster" /> -->
  <!-- <node pkg="omnivelma_2d_nav" name="laser_tf_broadcaster" type="laser_tf_broadcaster" />  -->
  <node pkg="odszumiacz" name="odszumiacz" type="odszumiacz" args="/wewucho/imu imu/filtered 10"/>
  <node pkg="omnivelma_2d_nav" name="odometry_kin" type="odometry" />
  <!-- noisy odometry -->
  <!-- <node pkg="omnivelma_2d_nav" name="odom_noise" type="odom_noise" /> -->
  <!-- throttle odom -->
  <!-- Covariances -->
  <node pkg="omnivelma_2d_nav" name="message_cov" type="message_cov" />
  <!-- rviz vizualization -->
  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find omnivelma_2d_nav)/rviz/config.rviz"/>  -->

  <!-- merge laser scans -->
  <!-- <include file="$(find omnivelma_2d_nav)/launch/ext_packages/laserscan_multi_merger.launch" /> -->

  <!-- laser scan matcher -->
  <!-- <include file="$(find omnivelma_2d_nav)/launch/ext_packages/laser_scan_matcher.launch" /> -->
</launch>
