<launch>

  <node pkg="omnivelma_nav_setup" name="omnivelma_speed_broadcaster" type="omnivelma_speed_broadcaster" output="screen">
    <param name="cmd_receive_topic" value="cmd_vel" />
    <param name="cmd_send_topic" value="omnivelma/vels" />
    <param name="rotation" type="str" value="90" />
  </node>

  <node pkg="odszumiacz" name="odszumiacz" type="odszumiacz" args="/wewucho/imu imu/filtered 5"/>
  <node pkg="omnivelma_nav_setup" name="odometry_kin" type="odometry" />
</launch>
