<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_map">
  <!--  clear_params="true" -->
    <rosparam command="load" file="$(find omnivelma_2d_nav)/yaml/ekf_map_gmapping.yaml" />
    <remap from="odometry/filtered" to="gmapping/filtered"/>
    <!--  Placeholder for output topic remapping

    <remap from="accel/filtered" to=""/>
    -->

  </node>
</launch>
