<launch>
  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping">
    <remap from="scan" to="/scan" />
    <param name="base_frame" value="base_footprint" />
    <param name="map_udpate_interval" value="2.0"/>
    <param name="delta" value="0.04" />
    <param name="transform_publish_period" value="4.0"/>
  </node>
</launch>
